@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mission 3";
    
}




<!-- Header -->
<h1>Audrey Seager</h1> <!-- My maiden last name is 'Youngberg' but I go by my married last name, 'Seager' -->
<!-- Picture -->
<img src="img/concert.jpg" style="width: 300px;" />
<figcaption style="font-size: x-small;"> My husband and I at a Dan+Shay Concert last year.</figcaption>
<br />


<!-- Paragraph of expectations -->
<p1>

    I want to make a changes to mission 3

    In this class, above learning ASP.NET and C#, I ultimately want to learn how to solve problems on my own and become a quicker learner. <br />
    This is a goal of mine for all four of my core classes, but especially this one because I struggle a bit more with development than the other core subjects. <br />
    I want to learn C# enough to be able to do things on my own. I want to learn how to rely on my own intuition just as much as the videos, so that I can prepare myself better for industry where
    I won't have a TA to turn to.
</p1>
<br />
<br />

<!-- List of jobs I want out of college -->
<p1> Top #3 Jobs out of Graduation:  </p1>
<ul>
    <li> Tech Operations Consultant for Event Companies </li>
    <li> User Experience Designer </li>
    <li> Web Developer for Startup </li>
</ul>




    


